<h3>Estadísticas</h3>

<table border="1">
    <tr>
        <td width="70%">Preguntas</td>
        <td width="30%"><%= statistics.num_quizes %></td>
    </tr>
    <tr>
        <td width="70%">Comentarios totales</td>
        <td width="30%"><%= statistics.num_comments %></td>
    </tr>
    <tr>
        <td width="70%">Comentarios por pregunta</td>
        <td width="30%"><%= statistics.avg_comments %></td>
    </tr>
    <tr>
        <td width="70%">Preguntas sin comentarios</td>
        <td width="30%"><%= statistics.num_quizes_no_comment %></td>
    </tr>
    <tr>
        <td width="70%">Preguntas con comentarios</td>
        <td width="30%"><%= statistics.num_quizes_with_comment %></td>
    </tr>
 </table> 